nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(164, 87, 87, 0.793);
  padding: 3%;
}

nav a {
  font-family: cursive;
  font-size: 200%;
  color:antiquewhite
}

.selected {
border: 1px solid rgb(77, 33, 42);
padding: 2%;
}

.spost a {font-family: cursive; font-size: 150%; color: antiquewhite;}
.spost {font-family: cursive; font-size: 150%; color:antiquewhite; background-color: rgba(189, 160, 43, 0.644);border: 2px solid rgb(77, 33, 42); margin-top: 3%;}
.suser a {font-family: cursive; font-size: 150%; color: antiquewhite;}
.suser {font-family: cursive; font-size: 150%; color:antiquewhite; background-color: rgba(189, 160, 43, 0.644);border: 2px solid rgb(77, 33, 42); margin-top: 3%;}
.theposts a {font-family: cursive; font-size: 150%; color:antiquewhite}
.theposts {font-family: cursive; font-size: 250%; color:antiquewhite }
.theusers {font-family: cursive; font-size: 250%; color:antiquewhite }
.theusers a {font-family: cursive; font-size: 150%; color: antiquewhite;}
 
.Welcome {font-family: cursive; font-size: 250%; color: antiquewhite;}

body {background: url("Pics/pexels-suzy-hazelwood-1122865.jpg");background-size:cover;background-attachment: fixed;}